.footer
  .wrap
    /.footer__line-1
      /.footer__item
        /.footer__text
          /.footer__text__title
            /h2 About LDS
          /.footer__text__description
            /p
              /| Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip

      /.footer__item
        /.footer__text__title
          /h2 Contatti
        /.flag--top
          /.flag__image
            /i.ion-ios-location
          /.flag__body
            /address 
              /p
                /| Via degli Olivetani 12, Milano, MI

        /.flag--top
          /.flag__image
            /i.ion-ios-telephone
          /.flag__body
            /phone
              /| +39 02 123456789

        /.flag--top
          /.flag__image
            /i.ion-ios-email
          /.flag__body
            /a href="mailto:customer@libreriadegliscrittori.it"  customer@libreriadegliscrittori.it

        /.flag--top
          /.flag__image
            /i.ion-ios-world
          /.flag__body
            /a href="http://www.libreriadegliscrittori.it"  libreriadegliscrittori.it

  .footer__line-2
    .wrap
      h6
        | Fatto con il 
        i.ion-heart
        |  da Bookrepublic

