title La Libreria degli Scrittori #{@book.title}
meta name="description" content=truncate(@book.description, length: 200, separator: ' ')
meta property="fb:app_id" content="236472549828975"
meta property="fb:profile_id" content="LibreriaDegliScrittori"
meta property="og_type" content="books.book"
meta property="og:title" content="#{@book.title}"
meta property="og:image" content="#{@book.cover.url}"
meta property="og:description" content="#{@book.description}"
meta property="og:url" content=request.original_url
meta name="twitter:card" content="summary_large_image"
meta name="twitter:site" content="@BoorRep"
meta name="twitter:title" content="#{@book.title}"
meta name="twitter:description" content="#{@book.description}"
meta name="twitter:image" content="#{@book.cover.url}"
