$purple: #4c1227
$lg-purple: #894e65
$dark-purple: #280614

$base-body-color: $purple //#2c2e38
$light-body-color: #636363

$light-bg-color: #f9f9f9

$dark-border-color: $dark-purple //#1A1A1A

$border-color: #d7d7d7
$alert-color: #de0017
$notice-color: #079acc
$primary-color: #7f30d9

$grey: $purple //#4D4D4D
$light-grey: $lg-purple //#F2F2F2
$dark-grey: $dark-purple //#1A1A1A

$mustard: #ccaa33
$light-mustard: #ffeecc
$brown: #443322
$light-brown: #775544
$beige: #eebb77
$violet: #332244
$light-beige: #ccbbaa

