.book
  +padding-top(12)
  +padding-bottom(4)

.book__bg
  +position(absolute, 0 0 null 0)
  height: 400px
  background-size: cover
  background-position: center center
  background-color: #f5f1e9
  transition: background-color 0.2s ease-in
  //background: url('/img/pattern.png') repeat top left
  &:after
    content: ""
    position: absolute
    right: 0
    bottom: 0
    left: 0
    height: 20px
    background-image: linear-gradient(to top, rgba(209, 193, 166, 0.30) 0, transparent 100%)

.book__inner
  position: relative
  z-index: 2

.book__cover
  display: block
  text-decoration: none
  position: relative
  +margin-bottom(2)
  box-shadow: 0 2px 8px rgba(black, 0.2)

.book__cover__front
  backface-visibility: hidden
  @extend .cover

.book__side
  position: relative

.book__meta
  background-color: white
  box-shadow: 0 2px 8px rgba(black, 0.2)
  padding: $grid-gutter

.book__title
  +font-size(alpha)
  +margin-bottom(1)

.book__price__label
  font-size: smallprint
  text-transform: uppercase
  line-height: 2
  color: $light-body-color
  display: block

.book__price
  display: block

.book__price__base
  display: inline-block
  margin-right: 0.5em
  color: $light-body-color
  position: relative
  +font-size(beta)

  &:before
    content: ""
    height: 2px
    background-color: lighten($light-body-color, 20%)
    transform: rotate(-4deg)
    +position(absolute, 50% -5px null -5px)

.book__price__current
  display: inline-block
  +font-size(alpha)

.book__cta
  +margin-top(2)

.book__cta__price
  +margin-bottom(1)

.book__author
  +font-size(gamma)
  color: $light-body-color

  a
    @extend .book__author
    text-decoration: none

.book__description
  +vertical-padding(2)

.button-store
  border: 0
  width: 23%
  background-color: $mustard
  box-shadow: none
  margin-right: 2%
  padding: 0.8em 1em
  text-decoration: none
  text-align: center
  display: inline-block
  vertical-align: middle
  white-space: nowrap
  font-family: inherit
  cursor: pointer
  line-height: inherit
  -webkit-appearance: none
  border-radius: 3px
  box-sizing: border-box
  transition: box-shadow 0.1s ease-out, -webkit-transform 0.1s ease-out, text-shadow 0.1s ease-out, opacity 0.1s ease-out
  transition: box-shadow 0.1s ease-out, transform 0.1s ease-out, text-shadow 0.1s ease-out, opacity 0.1s ease-out
  font-size: 1.1em
  +vertical-margin(1)
  &:hover
    background: lighten($mustard, 3%)
    box-shadow: none

  &:active
    background: darken($mustard, 5%)
    box-shadow: none
  a
    color: white
    text-decoration: none





+at-breakpoint(lte-lap)
  .book__side
    max-width: 280px
    margin: 0 auto
    +margin-bottom(2)

+at-breakpoint(lap)
  .book__cta__price,
  .book__cta__button
    display: inline-block
    vertical-align: middle
    width: 50%
    margin-bottom: 0

  .book__cta__button
    text-align: right

  .book__meta
    +padding(4)

+at-breakpoint(desk)
  .book__inner
    display: flex
    flex-direction: row
    flex-wrap: nowrap
    align-items: top
    justify-content: center

  .book__side
    min-width: 300px
    position: relative

  .book__meta
    flex: 1
    margin-left: 2 * $grid-gutter
