.header
  //background-color: white
  background-image: linear-gradient(to bottom, transparent 0%, rgba(black, 0.1) 100%)
  color: $grey
  padding: 1em 0
  border-bottom: 1px solid $dark-grey
  margin: 0px

  a
    color: $grey
    text-decoration: none


  .header__inner
    display: flex
    flex-direction: row
    align-items: center
    width: 100%
    vertical-align: middle
    justify-content: space\\-between

    .header__logo
      background: url('/img/logo_lds.png') no-repeat left center
      background-size: contain
      vertical-align: middle
      height: 45px
      width: 45px

      +at-breakpoint(lap)
        height: 55px
        width: 55px

      +at-breakpoint(desk)
        height: 75px
        width: 75px

    .header__menu
      text-align: right
      width: 100%

      .header__menu__hamburger
        display: inline-block
        vertical-aling: middle

        +at-breakpoint(lap)
          display: none

      .header__menu__item
        display: none
        padding-left: 1em
        text-transform: uppercase
        font-weight: 600
        &:before
          content: "\00A0"
          text-decoration: none
          display: inline-block

        &:first-child:before
          display: none

        &.is-active
          text-decoration: none


        +at-breakpoint(lap)
          display: inline-block

.header__panel
  background: $grey
  z-index: 50
  text-align: center
  color: white
  text-transform: uppercase
  position: fixed
  left: -15.625em
  width: 15.625em

  img
    +padding(3)
    width: 40%

  a
    text-decoration: none
    color: $light-grey
    +padding(2)
